[Unit]
Description=Booklore
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=booklore
Image=docker.io/booklore/booklore:latest
AutoUpdate=registry
PublishPort=6060:6060/tcp
HostName=booklore-%H
UserNS=keep-id
Environment=USER_ID=%U
Environment=GROUP_ID=%G
Environment=TZ=Europe/Rome
Environment=BOOKLORE_PORT=6060
EnvironmentFile=booklore.env
SecurityLabelDisable=true
Volume=booklore-data:/app/data
Volume=/media/booklore/books:/books
Volume=/media/booklore/bookdrop:/bookdrop
Network=mariadb.network

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
