[Unit]
Description=CouchDB
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=couchdb
Image=docker.io/library/couchdb:3.4.3
AutoUpdate=registry
PublishPort=5984:5984/tcp
HostName=couchdb-%H
EnvironmentFile=couchdb.env
UserNS=keep-id
Environment=PUID=%U
Environment=PGID=%G
Environment=UMASK=022
Environment=TZ=Europe/Rome
SecurityLabelDisable=true
Volume=/media/couchdb/data:/opt/couchdb/data
Volume=/media/couchdb/etc/local.d:/opt/couchdb/etc/local.d

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
