[Unit]
Description=Stirling-PDF podman
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=docker.stirlingpdf.com/stirlingtools/stirling-pdf:latest
AutoUpdate=registry
PublishPort=10809:8080/tcp
HostName=stirling-pdf-%H
Volume=stirling-data:/configs

[Service]
TimeoutStartSec=900
Restart=always

[Install]
WantedBy=multi-user.target default.target
